# Ignore output
gen

# Ignore pychace
__pycache__
*pyc

## Generated Template
tmpl/*.bib
tmpl/*.aux
tmpl/*.bbl
tmpl/*.blg
tmpl/*.fdb_latexmk
tmpl/*.fls
tmpl/*.log
tmpl/*.out
tmpl/*.pdf
tmpl/*.xml
tmpl/*.gz
tmpl/**.synctex*

## Log
.log

## Texmaker folder
*build*
data/**.bak
data/*.bib
data/*.aux
data/*.bbl
data/*.blg
data/*.fdb_latexmk
data/*.fls
data/*.log
data/*.out
data/*.pdf
data/*.xml
data/*.gz
data/**.synctex*

hand-tailored/**.bak
hand-tailored/**.bib
hand-tailored/**.aux
hand-tailored/**.bbl
hand-tailored/**.blg
hand-tailored/**.fdb_latexmk
hand-tailored/**.fls
hand-tailored/**.log
hand-tailored/**.out
hand-tailored/**.pdf
hand-tailored/**.xml
hand-tailored/**.gz
hand-tailored/**.toc
hand-tailored/**.synctex*

.vscode

